:root {
    --mainColor: #4CAF50;
}

html {
    scroll-behavior: smooth;
}

body {
    background: url(links/paper.png);
}

.topnav {
    position: fixed;
    width: 1205px;
    overflow: hidden;
    background-color: #333;
    margin:0 100px 0 100px;
    box-shadow: 0px 0px 5px 1px rgb(83, 83, 83);
    border-radius: 5px;
    
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-shadow: 1px 1px #333;
    text-decoration: underline !important;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: rgb(90, 129, 92);
}
  
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.first {
    font-family: 'Exo', sans-serif;
    padding: 75px 0 0 100px;
}

.bio {
    font-family: 'Exo', sans-serif;
    padding: 200px 0 0 100px;
}

.intro, .about {
    font-size: 30px;
    margin: 0 0 100px 0;
}

.about {
    margin: 0 50px 0 350px;
    font-size: 20px;
}

img {
    float: right;
    box-shadow: 0 5px 15px 5px rgb(97, 97, 97);
    border-radius: 3px;
}

.first h1 {
    font-size: 50px;
    margin: 0 0 30px 0;
    padding: 50px 0 10px 0;
    text-align: left;
}

.bio h1{
    font-size: 50px;
    margin: 0 325px 30px 0;
    padding: 10px 0 10px 0;
    text-align: center;
}

hr {
    display: block;
    margin: 10px 100px 50px 0;
    border-style: inset;
    border-width: 1px;
    border-color: rgba(139, 139, 139, 0.336);
}

.bio hr {
    display: block;
    margin: 10px 100px 60px 350px;
    border-style: inset;
    border-width: 1px;
    border-color: rgba(139, 139, 139, 0.336);
}

.links a{
    color: black;
    background:
    linear-gradient(
      to bottom, var(--mainColor) 0%,
      var(--mainColor) 100%
    );
   background-position: 0 100%;
   background-repeat: repeat-x;
   background-size: 2px 2px;
   color: #000;
   text-decoration: none;
   transition: background-size .5s;
}

.links a:hover {
    background-size: 4px 50px;
}